@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

body{
    background-color: #EEE2DC;
    font-family: 'Crete Round', serif;
}

/* Existing Clipboards */

.existing-clipboards h1{
    color: #AC3B61;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.list-group{
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

.list-group-item{
    background-color: #BAB2B5;
    border: 1px solid #BAB2B5;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 40px;
    color: #123C69;
    
}

.badge img{
    width: 20px;
}