@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

body{
    background-color: #EEE2DC;
    font-family: 'Crete Round', serif;

    /* scrollbar */
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */

}

/* scrollbar */
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
    width: 0;
    height: 0;
}


/* logo */

.logo img{
    display: block;
    margin: 0 auto;
    width: 360px;
    margin-top: 100px;
    margin-bottom: 80px;

    /* not selectable and draggable */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;

    -webkit-user-drag: none; /* Safari */
    -moz-user-drag: none; /* Firefox */
    -ms-user-drag: none; /* IE10+/Edge */
}

/* input form */

.form-container{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #EEE2DC;
    border-radius: 0px;
    text-align: center;
    margin-bottom: 30px;
}

#text{
    border: 0;
    border-bottom: 4px solid #123C69;
    background-color: #EEE2DC;
    width: 60%;
    height: 6rem;
    border-radius: 0;
    padding: 20px;
    margin-bottom: 20px;
}

#text:focus{
    outline: none;
}

#number{
    border: 0;
    border-bottom: 4px solid #123C69;
    background-color: #EEE2DC;
    width: 30%;
    height: 40px;
    border-radius: 0;
    padding: 10px;
    margin-bottom: 20px;
}

#number:focus{
    outline: none;
}

#submit{
    background-color: #EEE2DC;
    color: #AC3B61;
    border: 0;
    border-radius: 10px;
    padding: none;
    margin-left: 40px;
    font-size: 30px ;
    font-weight: 700;
}

/* Clipboards */

/* clip-text */
.list-item-text{
    font-size: 14px;
    margin-bottom: 10px;
    color: #123C69;
    margin-top: 6px;
}

/* github icon */
.existing-clipboards .github{
    /* center */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    -webkit-user-drag: none; /* Safari */
    -moz-user-drag: none; /* Firefox */
    -ms-user-drag: none; /* IE10+/Edge */
    
    margin-bottom: 20px;
}

.existing-clipboards a img {
    width: 50px;
    /* center */
    vertical-align: middle;
    line-height: normal;

    -webkit-user-drag: none; /* Safari */
    -moz-user-drag: none; /* Firefox */
    -ms-user-drag: none; /* IE10+/Edge */

    margin-top: 14px;
    margin-bottom: 40px;
    margin-right: 10px;

}

.list-group{
    width: 68%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

.list-group-item{
    background-color: #BAB2B5;
    border: 1px solid #BAB2B5;
    border-radius: 10px;
    margin-bottom: 30px;
    min-height: 60px;
    color: #123C69;
    
}

.badge img{
    width: 20px;

    -webkit-user-drag: none; /* Safari */
    -moz-user-drag: none; /* Firefox */
    -ms-user-drag: none; /* IE10+/Edge */
}
.copy-to-clipboard-button{
    background-color: #BAB2B5;
    border: 0;
    border-radius: 10px;
    min-height: 30px;
    color: #123C69;
    text-align: center;

    -webkit-user-drag: none; /* Safari */
    -moz-user-drag: none; /* Firefox */
    -ms-user-drag: none; /* IE10+/Edge */
}



.copy-to-clipboard-button:focus{
    outline: none;
}


@media screen and (max-width: 768px) {
    .logo img{
        margin-top: 30px;
        width: 200px;
    }
    #text{
        width: 90%;
        border-bottom: 3px solid #123C69;
    }
    #submit{
        margin-top: 10px;
        margin-left: -10px;
        font-size: 24px;
    }
    .form-container{
        margin-bottom: 30px;
    }
    .existing-clipboards .github{
        margin-bottom: 10px;
    }

    .existing-clipboards a img {
        width: 40px;
        margin-top: 10px;
        margin-bottom: 30px;
        margin-right: 10px;
    }
    .list-group{
        width: 90%;
        font-size: 14px;
    }
}
    